{% extends 'base.html.twig' %}

{% block title %}Modifier un titre{% endblock %}

{% block body %}
    <h1>Modifier un {{ song.name }}</h1>

    {{ include('song/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_homepage') }}">Accueil</a>

    {{ include('song/_delete_form.html.twig') }}
{% endblock %}
